<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
   <title>{{$row.title}} | 耐玩游戏</title>
    <meta name="keywords" content="{{$row.keyword}}" />
    <meta name="description" content="{{$row.description}}" />
    <meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="max-age=3600" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <link rel="stylesheet" href="{{$CONFIG.resource}}/style/2018/h5/style.game2.css?{{$CONFIG.build}}" />
    {{if $G.ID == '715'}} <style>
        .loading { background-image: url('{{$CONFIG.resource}}/images/2017/h5/loading/xkx.jpg?20180423');} </style>
    {{/if}}
    {{if $G.CONFIG.parent == '736' || $G.CONFIG.parent == '739'}}
    <style> .mask-wxshare { background-image: url('/images/2017/h5/wxshare-qzsg.png?{{$CONFIG.build}}');} </style>
    {{/if}}
    {{if $G.CONFIG.parent == '934' || $G.CONFIG.parent == '937'}}
    <style>
        .mask-wxshare { background-image: url('/images/2017/h5/wxshare-rxzr.png?{{$CONFIG.build}}');} .mask-qr .qr-wp { width: 90%; } </style>
    {{/if}}
    <style>
   
    </style>
</head>

<body class='article-wrap'>
    <div class="detail-wrap ">
        <div class="detail">
            <div class='top' >
                <div class='sub' >消息详情</div>
                <a  class="icon-back" onclick='javascript:G9377.detail_back()'></a>
                <a  class='icon-close' onclick='javascript:G9377.detail_back()' ></a>
            </div>
            <div class='container'>
                <div class='title'>{{$row.title}}</div>
                <div class='time'>{{$row.adddate|date_format:'%Y/%m/%d'}}<span> &nbsp;&nbsp; &nbsp; {{if $row.author}}{{$row.author}}{{else}}耐玩 H5平台{{/if}}</span></div>
                <div class='content'>
                        {{$body}}
                </div>
            </div>
        </div>
    </div>
   
    
</body> 
<script src="{{$CONFIG.resource}}/js/2018/h5/zepto.min.js?{{$CONFIG.build}}"></script>
<script src="{{$CONFIG.resource}}/js/2018/h5/main.game2.js?{{$CONFIG.build}}"></script>
<script src="{{$CONFIG.resource}}/js/2018/h5/common.js?{{$CONFIG.build}}"></script>
<script src="{{$CONFIG.resource}}/js/2018/h5/loadJsCss.js?{{$CONFIG.build}}"></script>
<script>

</script>
</html>